.container{
    display: flex;
    flex-direction: row;
}

.navBar{
    height: 7%;
    width: 100%;

}

.admContainer{
display: flex;
flex-direction: column;
width: 100%;
}

.testForm{
    width: 80%;
}