.masthead{
    min-height: 100vh;
    position: relative;
    
}

.color-overley{
   
    position: absolute;
    background-color: rgba(0,0,0,0,0.2);
    height: 90%;
    width: 900%;
    mix-blend-mode: normal;
}


.containerForm{
    background-color: green;
}

.form{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}